<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thomas.jonathan.notey"
    android:versionCode="14"
    android:versionName="@string/version" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver android:name=".DeviceBootListener" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationDismiss" android:enabled="true" android:exported="false" ></receiver>

        <service android:name=".NotificationBootService" android:enabled="true"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity"
            android:label="@string/notey_settings"
            android:theme="@style/MySettingsTheme">
        </activity>

        <activity
            android:name=".About"
            android:parentActivityName=".MainActivity"
            android:label="@string/about_actionbar"
            android:theme="@style/MySettingsTheme">
        </activity>
        
    </application>

</manifest>