<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thomas.jonathan.notey"
    android:versionCode="50"
    android:versionName="@string/version" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_md_blue_500"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >

        <!-- Android Backup Service Key -->
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAI30w-5DNhsLnp7yU4aEUP4UwT4HtjFKL4mtMFLQ" />

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver android:name=".DeviceBootListener" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationDismiss" android:enabled="true" android:exported="false" />
        <service android:name=".NotificationBootService" android:enabled="true"/>

        <service android:name=".AlarmService" android:enabled="true" />
        <receiver android:name=".AlarmReceiver" android:enabled="true" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<receiver-->
            <!--android:label="@string/app_name"-->
            <!--android:name="WidgetProvider">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/widget_provider" />-->
        <!--</receiver>-->
        <!--<service android:name="WidgetService"-->
            <!--android:permission="android.permission.BIND_REMOTEVIEWS" />-->

        <service android:name=".DashClock"
            android:icon="@drawable/ic_launcher_dashclock"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description" android:value="@string/dashclock_description" />
            <meta-data android:name="settingsActivity" android:value=".DashClockSettingsActivity" />
        </service>





        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
                <action android:name="com.google.android.voicesearch.action.AUTO_SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_blue_500"
            android:name=".MainActivity-md_blue_500"
            android:enabled="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_red_500"
            android:name=".MainActivity-md_red_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_pink_500"
            android:name=".MainActivity-md_pink_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_purple_500"
            android:name=".MainActivity-md_purple_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_deep_purple_500"
            android:name=".MainActivity-md_deep_purple_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_indigo_500"
            android:name=".MainActivity-md_indigo_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_light_blue_500"
            android:name=".MainActivity-md_light_blue_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_cyan_500"
            android:name=".MainActivity-md_cyan_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_teal_500"
            android:name=".MainActivity-md_teal_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_green_500"
            android:name=".MainActivity-md_green_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_light_green_500"
            android:name=".MainActivity-md_light_green_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_lime_500"
            android:name=".MainActivity-md_lime_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_yellow_500"
            android:name=".MainActivity-md_yellow_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_amber_500"
            android:name=".MainActivity-md_amber_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_orange_500"
            android:name=".MainActivity-md_orange_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_deep_orange_500"
            android:name=".MainActivity-md_deep_orange_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_brown_500"
            android:name=".MainActivity-md_brown_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_grey_500"
            android:name=".MainActivity-md_grey_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_blue_grey_500"
            android:name=".MainActivity-md_blue_grey_500"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_blue_500_dark"
            android:name=".MainActivity-md_blue_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_red_500_dark"
            android:name=".MainActivity-md_red_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_pink_500_dark"
            android:name=".MainActivity-md_pink_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_purple_500_dark"
            android:name=".MainActivity-md_purple_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_deep_purple_500_dark"
            android:name=".MainActivity-md_deep_purple_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_indigo_500_dark"
            android:name=".MainActivity-md_indigo_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_light_blue_500_dark"
            android:name=".MainActivity-md_light_blue_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_cyan_500_dark"
            android:name=".MainActivity-md_cyan_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_teal_500_dark"
            android:name=".MainActivity-md_teal_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_green_500_dark"
            android:name=".MainActivity-md_green_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_light_green_500_dark"
            android:name=".MainActivity-md_light_green_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_lime_500_dark"
            android:name=".MainActivity-md_lime_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_yellow_500_dark"
            android:name=".MainActivity-md_yellow_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_amber_500_dark"
            android:name=".MainActivity-md_amber_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_orange_500_dark"
            android:name=".MainActivity-md_orange_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_deep_orange_500_dark"
            android:name=".MainActivity-md_deep_orange_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_brown_500_dark"
            android:name=".MainActivity-md_brown_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_grey_500_dark"
            android:name=".MainActivity-md_grey_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:label="@string/app_name"
            android:icon="@drawable/ic_launcher_md_blue_grey_500_dark"
            android:name=".MainActivity-md_blue_grey_500_dark"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>



















        <activity
            android:name=".InfoScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity
            android:name=".AlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity"
            android:label="@string/notey_settings"
            android:theme="@style/MySettingsTheme">
        </activity>

        <activity
            android:name=".DashClockSettingsActivity"
            android:label="@string/notey_extension_settings"
            android:theme="@style/MySettingsTheme"
            android:exported="true">
        </activity>

        <activity
            android:name=".About"
            android:parentActivityName=".MainActivity"
            android:label="@string/about"
            android:theme="@style/MySettingsTheme">
        </activity>
        
    </application>

</manifest>